/*全局样式表*/
html, body, #app{
    height: 100%; /*占满全屏*/
    background: url(../background.jpeg) no-repeat;
    background-size: 100% 100%;
    margin: 0;
    padding: 0;
    min-width: 1366px;
}
.el-breadcrumb{
    margin-bottom: 15px;
}
.el-card{
    /*加！important才能覆盖原效果*/
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15)!important 
}
.el-table{
    margin-top: 15px;
}
.el-pagination{
    margin-top: 15px;
}
.el-cascader-menu{
    height: 400px;
}
.el-cascader{
    width: 100%;
}